{{#partial "content"}}
    <div class="container d-flex justify-content-center">
        <h1 class="display-1 text-primary">We have updated your changes <i class="bi bi-emoji-smile-fill"></i></h1>

    </div>
    <div class="container d-flex justify-content-center mt-4">
    <button class="fs-3 fw-bolder btn btn-danger"><a class="text-decoration-none" href="/">Return to home <i class="bi bi-house-door-fill"></i></a></button>
    </div>
{{/partial}}
{{> layout.hbs}}